@keyframes weatherWindowPopIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes weatherWindowPopOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
.weatherOpenAnim[data-state="open"] {
  animation: weatherWindowPopIn 200ms ease-out;
}
.weatherOpenAnim[data-state="closed"] {
  animation: weatherWindowPopOut 100ms ease-in;
}
