@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: fallback;
  src: url("./fonts/inter.ttf") format("ttf");
} */
@font-face {
  font-family: "Instrument Sans";
  src: url("../public/fonts/instrument.ttf") format("truetype");
}
html {
  font-family: "Instrument Sans";
}

/* data-[state='open']: */
.button-colors {
  @apply rounded-md border border-black/30 font-medium text-black hover:border-black/50 hover:bg-neutral-200 data-[state='open']:border-black/50 data-[state='open']:bg-neutral-200 dark:border-white/30 dark:text-white dark:hover:border-white/50 dark:hover:bg-neutral-800 dark:data-[state='open']:border-white/50 dark:data-[state='open']:bg-neutral-800;
}

:root {
  --highlight: 29 184 71;
}

body {
  @apply bg-neutral-100 dark:bg-gray-950;
}

img,
picture {
  user-select: none;
}
