.colorCycleAnim {
  background-color: #0000ff;
  animation: bgColor 45s infinite linear;
}
@keyframes bgColor {
  12.5% {
    background-color: #0000ff;
  }
  25% {
    background-color: #9932cc;
  }
  37.5% {
    background-color: #ff1493;
  }
  50% {
    background-color: #ff0000;
  }
  62.5% {
    background-color: #ffa500;
  }
  75% {
    background-color: #ffff00;
  }
  87.5% {
    background-color: #7fff00;
  }
  100% {
    background-color: #00ffff;
  }
}

.gradientShiftAnim {
  background: linear-gradient(141deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
  background-size: 1600% 1600%;

  -webkit-animation: AnimationName 60s ease infinite;
  -moz-animation: AnimationName 60s ease infinite;
  animation: AnimationName 60s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
